<h1>Stupid Coaching</h1>
<div class="question">
  <div class="you">
    <p><%= @question %></p>
    <p><em>-You</em></p>
  </div>
  <div class="coach">
    <p><strong><%= @coach_reply %></strong></p>
    <p><em>-Your coach</em></p>
  </div>
  <div class="btn">
    <%= link_to "Ask again!", "./ask" %>
  </div>
</div>
